client/**/*.js

!client/rollup.config.js
!client/jest.config.js
!client/babel.config.js

nodes/**/*.js

node_modules
.DS_Store
._.DS_Store

coverage/

nodes/.node-red/*.backup
nodes/.node-red/.config.json
nodes/.node-red/flows_cred.json
!nodes/.node-red/settings.js
